.btn-types{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-button1{
    width: 60px;
    height: 36px;
    border-radius: 20px;
    background-color:#0F6466;
    color: #fff;
    font-size:10px;
  }
  .img-button2{
    width: 60px;
    height: 36px;
    border-radius: 20px;
    background-color: rgba(197, 16, 16, 0.986);
    color: #fff;
    font-size:10px;
  }
  .btn-status{
    color: #000;
    font-weight: 800;
  }
.apre1{
    display: flex;
    color: #02936F;
}
.apre2{
    display: flex;
    color: rgba(197, 16, 16, 0.986);
}